<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/update">Edit</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>

  </nav>
  <h1>Welcome to your Student Dashboard</h1>
  
  <!-- Container for student-related links -->
   <!-- Loop of links will be here -->
  <div class="dashboard-container">
    <a href="/student" class="dashboard-box">MODULE 1 <br> INFORMATION</a>
    <a href="/student-timetable" class="dashboard-box">MODULE 2 <br> INFORMATION</a>
    <a href="/logout" class="dashboard-box">MODULE 3 <br> INFORMATION</a>
    <a href="/change-password" class="dashboard-box">MODULE 4 <br> INFORMATION</a>
    <a href="/temporary-leave" class="dashboard-box">MODULE 5 <br> INFORMATION</a>
  </div>
</body>
</html>
